<!DOCTYPE html>
<html>
<head>
	<title>JD's Weather App</title>
</head>
<body>
	<h1><%= @location %></h1>
	<div class="weather-box">
		<li>Current temperature in <%= @location %> is: <%= @temp_f %></li>
		<li>Current wind direction is: <%= @wind_dir %></li>
		<li>Current conditions are: <%= @weather %></li>
	</div>
</body>
</html>